.wrapper{
   position: relative;
   float: left;
   left: 96px;
   width: 1170px;
   margin-bottom: 2px;
   background-color: #cccccc
}
.left1{
   position: relative;
   float: left;
   left: 1px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left2{
   position: relative;
   float: left;
   left: 3px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left3{
   position: relative;
   float: left;
   left: 5px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left4{
   position: relative;
   float: left;
   left: 7px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left5{
   position: relative;
   float: left;
   left: 9px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left6{
   position: relative;
   float: left;
   left: 11px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left7{
   position: relative;
   float: left;
   left: 13px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left8{
   position: relative;
   float: left;
   left: 15px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left9{
   position: relative;
   float: left;
   left: 17px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left10{
   position: relative;
   float: left;
   left: 19px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left11{
   position: relative;
   float: left;
   left: 21px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left12{
   position: relative;
   float: left;
   left: 23px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left13{
   position: relative;
   float: left;
   left: 25px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left14{
   position: relative;
   float: left;
   left: 27px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left15{
   position: relative;
   float: left;
   left: 29px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left16{
   position: relative;
   float: left;
   left: 29px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left17{
   position: relative;
   float: left;
   left: 29px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left18{
   position: relative;
   float: left;
   left: 29px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
.left19{
   position: relative;
   float: left;
   left: 29px;
   width: 76px;
   height: 76px;
   background-color: #828282
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #e7e7de
}
.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#768d87;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
p.serif {

	 font-weight: 900;
	font-size: 200%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
